@model FilterRequestDto;

<div class="col-12">
    <form method="post">
        <div class="row">
            <div class="col-sm-7" hidden>
                <input asp-for="DepartmentName" value="@Model.DepartmentName" />
                <input asp-for="CompanyName" value="@Model.CompanyName" />
                <input asp-for="CountryName" value="@Model.CountryName" />
                <input asp-for="PhoneNumber" value="@Model.PhoneNumber" />
                <input asp-for="JobName" value="@Model.JobName" />
                <input asp-for="EmployeeName" value="@Model.EmployeeName" />
            </div>
            <div class="col-sm-7">
                <select asp-for="CityName" class="form-select" asp-items="@ViewBag.Cities">
                    @if (Model.CityName is null)
                    {
                        <option disabled selected>---Select City---</option>
                    }
                    else
                    {
                        <option disabled selected>@Model.CityName</option>
                    }
                </select>
            </div>
            <div class="col-sm-5">
                <button type="submit" class="form-control btn btn-success" value="Submit">Add Filters</button>
            </div>
        </div>
    </form>
</div>